@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&family=Yanone+Kaffeesatz&display=swap');


*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
h1{
text-align: center;
font-family: 'Jura', sans-serif;
margin-top: 40px;
}

main form{
	padding-top: 40px;

}

.forsoporte{

	width: 45%;
	height: 330px;
	background: #161313;
	margin:auto;
	border-radius: 15px;
	border:1px solid #00a8a8;
	box-shadow: 2px 2px 30px 5px #EDE7D9
}

 label{
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

input{
	font-family: 'Jura', sans-serif;
	width: 380px;
	height: 30px;
	padding-left: 10px;
	border-radius: 15px;
	background: #161313;
	border:1px solid #ff9914;
	color:white;
	
}



.forsoporte form input{
	float: right;
	margin-right: 22px;
	padding-left: 20px; 

}
.forsoporte form label{
	margin-left: 22px;
	font-size: 25px;
	color:#EDE7D9;
}
 
textarea{
	margin-left: 66px;
	background: #161313;
	width: 80%;
	height: 140px;
	font-size: 130%;
	color: #EDE7D9;
	border:1px solid white;
	padding-left: 13px;
	border-radius: 10px;
	margin-bottom: 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
a{      
        text-align: center;
	margin-left: 645px;
	margin-bottom: 20px;
	padding: 5px;
	width: 40%;
	height: 50px;
	border-radius: 8px;
	background: #00a8a8;
	text-decoration: none;
	border:1px solid #ff9914 ;
	color: #EDE7D9	;
	font-size: 25px;
	font-family: 'Jura', sans-serif;
	
}

.encabezado img{
	width: 228px;
	height: 79px;
	margin-left: 100px;
	margin-top: 20px;

}
img{
	width: 110px;
	height: 110px;
	text-align: center;
	margin-top: -10px;
}
.columna4{
	height: 50px;
	background: #14213d;
	
	font-size: 30px;
	border:1px solid gray;
	text-align: center;
}






