@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&family=Yanone+Kaffeesatz&display=swap');


*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
h1{
text-align: center;
font-size: 35px;
font-family: 'Jura', sans-serif;
margin-top: -50px;
align-items: center;

}

main form{
	padding-top: 40px;

}
 
.forsoporte {

	width: 48%;
	height: 28%;
	background: #2431d;
	margin:auto;
	border-radius: 15px;
	border:1px solid #00a8a8;
	box-shadow: 2px 2px 30px 5px #EDE7D9
}

 label{
	font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 22px;
        color:#00a8a8;
}

input{
	font-family: 'Jura', sans-serif;
	width: 38%;
	height: 30%;
	padding-left: 10px;
	border-radius: 5px;
	
	border:1px solid #ff9914;
	color:white;
	
}



.forsoporte form label{
	margin-left: 22px;
	font-size: 25px;
	
	padding-right: 20px;
        
}
 textarea {
	width: 80%;
	height: 80%;
	font-size: 130%;
	color: red;
	border:px solid gray;
	padding-left: 13px;
	border-radius: 10px;
	margin-bottom: 20px;	
}
a{
	text-align: center;
	margin-bottom: 20px;
	padding: 5px;
	width: 40%;
	height: 50px;
	border-radius: 8px;
	background: #00a8a8;
	text-decoration: none;
	border:1px solid #ff9914 ;
	color: #24231d ;
	font-size: 25px;
	font-family: 'Jura', sas-serif;
	
}


.encabezado img{
	width: 228px;
	height: 79px;
	margin-left: 100px;
	margin-top: 20px;

}
img{
	width: 110px;
	height: 110px;
	text-align: center;
	margin-top: -10px;
}
.columna4{
	height: 50px;
	background: #14213d;
	
	font-size: 30px;
	border:1px solid gray;
	text-align: center;
}
